.externalModuleStyling {
    color: rgb(134, 125, 143);
    margin: 0;
    padding: 1rem;
    border: 2px solid blueviolet;
    border-radius: 1.5rem;
}

.title {
    color: orange;
    text-align: center;
}
